/* header component */
.header {
  z-index: 1;
  position: fixed;
  top: 0;
  overflow: hidden;
  background-color: #ffffff;
  padding: 8px 16px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 100%;
}

.header a {
  color: rgb(0, 0, 0);
  float: left;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 16px; 
  line-height: 25px;

}

.header a.logo {
  font-weight: bold;
  user-select: none;
  color: rgb(131, 58, 58);

}

.header a:hover {
  color: rgb(167, 167, 167);
}

.header a.active {
  color: rgb(182, 0, 0);
}

.header-right {
  float: right;
  margin-right: 20px;
  letter-spacing: 4px;

}

/* footer component */
.footer{
    /* border: solid rgb(255, 255, 255) 1px; */
    overflow: hidden;
    background-color: #282d32;
    position: relative;
    bottom: 0;
    padding: 20px 16px;
    text-align: center;
    column-gap: 10px;
    /* margin: 10% 20%; */
}

.footer a{
    font-size: 28px;
}

.copyright {
    color:  rgb(255, 234, 234);
    text-align:center;
    opacity:0.3;
    font-size:13px;
}


.fa-twitter {
    color:  rgb(255, 255, 255);
    text-align:center;  }
  
  .fa-envelope {
    color:  rgb(255, 255, 255);
    text-align:center;  }
  
  .fa-linkedin {
    color:  rgb(255, 255, 255);
    text-align:center;  }
  
  .fa-github {
    color:  rgb(255, 255, 255);
    text-align:center;  }

  .fa {
    padding: 10px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }

  .fa a{
      font-size: 28px;
  }
  
  .fa:hover {
      opacity: 0.7;
      color:  rgb(131, 58, 58);

  }




  h3{
    font-family: "GTWalsheim", Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1.25em;
    color: rgb(68, 68, 68);
  }

  h2{
    color: rgb(131, 58, 58);
    font-family: "GTWalsheim", Helvetica, Arial, sans-serif;
  }

  #heading{
    font-size: 3.125em;
    margin-bottom: 0.3em;
    
  }


body { 
    margin: 0;
    font-family: Verdana,sans-serif;
    background-color: rgb(241, 241, 241);
  
  }
  
.contener{
    margin: 4% 0;
}

/* homepage component */
.homepage{
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(241, 241, 241)), url("/images/homepage.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3%;

}

.homepagecontent{
    padding:6%;
    position: relative;
    top: 50px;
}

.buttons{
    /* display: flex;
    justify-content: center; */
    position: relative;
    margin: 2% 0 7% 0;
    
    
}

.tablestyle{
  width: 50%;
  text-align: center;
  position: relative;
  left: 25%;
}


.Testimonials{
  margin: 8% 10% 0 8%;

}

.TestimonialsCard{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr ;
column-gap: 7px;
}

.container {
  border: 2px solid #ccc;
  background-color: #eee;
  border-radius: 5px;
  padding: 14px;
  margin: 16px 0
}

.container img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.container span {
  font-size: 14px;
  margin-right: 15px;
}

.container p{
  font-size: 12px;
  margin-right: 15px;
}



#title{
    font-size:50px;
    color: rgb(153, 78, 78);
}

.btn{
    width: 250px;
    height: 40px;
    font-size: 16px;
    color: rgb(80, 0, 0);
}

.btn a{
    text-decoration: none;

}

/* .flip-horizontally {
    transform: scaleX(-1);
  } */


/* product component */
#Prodects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;
    margin: 5% 10%;

}

.filter-me {
  /* filter: blur(10px); */
  filter: opacity(70%);
  /* filter: none; remove existing filter */
}

.filter-me:hover{
  filter: blur(0px);

}

.child {
    box-shadow: 0px 10px 8px 0 rgba(0,0,0,0.2);
    /* transition: 0.3s; */
    background-color: #ffffff;
    padding: 10px;
  }

  .child.img{
    width: 260px;
    height: 260px;
  }
  
  .child:hover {
    box-shadow: 0px 0px 10px 7px rgba(0,0,0,0.2);
  }
  
  .child-content {
    padding: 2px 16px;
  }

.description{
      font-size: 12px;
      white-space: nowrap;
      width: 19em;
      overflow: hidden;
      text-overflow: ellipsis;
}

.fa {
  padding: 0px;
}

#cart{
  text-align: center;
  font-size: 16px;
  padding: 0;
border: none;
background: none;
  
}
#cart:hover{
  color: rgb(131, 58, 58);
  cursor: pointer;
}


/* aboutUs page component */
.Aboutus{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;
    margin: 10% 17% 0 17%;
}

/* support component */
.contactus{
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;
    margin: 0 20% 5% 20%;
    border-radius: 5px;
    background-color: #f5f5f5;
    text-align: center;
}

.text, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  ul {
    padding: 0;
    list-style: none;
    display: grid;
    position: relative;
    right: 20px;
  }

  li{
    margin: 0;
  }


  


@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .header-right {
    float: none;
  }
}