div.continer{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgb(236, 235, 235);
}



         /*----------------------------------------navbar--------------------------------*/
div.navbar{
   
    display: grid;
    background-color: #333;
    grid-template-columns: 90% 10%;
    row-gap: 100px;
    grid-area: nav;
    
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   
  }
  
  li.nav {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover{
    background-color: #111;
  }

  /*----------------------------------------end of navbar--------------------------------*/ 



  /*--------------------------------------login-------------------------------------------*/
  .pageBack{
    background-color: rgb(252, 249, 249);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
     
      
  }
  .loginbox{
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 30%;
      margin: 10%;
      margin-bottom: 0%;
      border: 1px solid  rgb(136, 135, 135); 
  }
  .SignUpbox{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin: 10%;
    margin-top: 2%;
    border: 1px solid  rgb(136, 135, 135); 
  }
  h5{
    font-size: 40px;
    font-family: Brush Script MT;
    font-style: oblique;
  }
  .enterText{
    width: 70%;
    height: 0.4in;
    background-color:  rgb(252, 249, 249);
    border: 1px solid  rgb(136, 135, 135);
    color: rgb(136, 135, 135);
    display: flex;
    align-items: center;
    border-radius: 3px;
    margin-bottom: 10px;
}

.loginButton{
    border-radius: 3px;
    background-color: blue;
    color: white;
    border: blue;
    width: 75%;
    padding: 7px;
    margin-bottom: 10px;
}

 a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
  }

  p{
      display: flex;

  }
  .aPadding{
      padding-bottom: 10px;
  }

  /*-------------------------------------end of login-----------------------------------*/
